---
layout: default
---
<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <div class="article-body">
    {%- if page.img != "" -%}
    <img src = "{{page.slug}}.html.jpg" alt = "{{page.title}}"/>
    {%- endif -%}
	<div id="editor">{{content}}</div>
	
    {%- if page.link != "" -%}
	<a target = "_blank" href = "{{page.link}}" class="btn">{{ page.title }}</a>
    {%- else -%}
		{%- if page.dev != "" -%}
		<p>Download <b>{{page.title}}</b> by navigating to the <b>{{page.dev}}</b> website.</p>
		{%- endif -%}
    {%- endif -%}
  </div>
</div>